.sandouk {
    height: 300px;
    width: 300px;
    margin: 30px;
    padding: 25px;
    border: 7px dotted red;
}
.ima {
    height: 200px;
    width: 200px;
}
.t1 {
    color: rebeccapurple;
}
/*
body {
  
    background-image: url('../img/background.png');
}
*/