@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

.banner_article {
    height: 300px;
    width: 100%;
    padding: 0px;

}

.banner {
    width: 100%;
    padding: 60px 0;
    text-align: center;
    color: #ebdc4f ;
    background-image: url("turtle2.png"); 
   background-repeat: no-repeat;
   background-size: 100% 120%;


 }

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .banner {
       background-image: url("turtleMobile.png");
       background-size: 100% 100%;
   }

}


/*    letter-spacing: 5px;yellow: ebdc4f  vert: 718512  white: f5f9f8