h1,
p,
a {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-size: 2.8em;
    padding: 10px 0;
    font-weight: 800;
}
p {
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 5px; /* yellow: ebdc4f  vert: 718512  white: f5f9f8*/
}
.banner {
    width: 100%;
    padding: 60px 0;
    text-align: center;
    color: #ffd700 ;
    background-image: url("turtle2.png"); 
   background-repeat: no-repeat;
   background-size: 100% 120%;


 }
.btn-bgstroke {
    font-size: 20px;
    display: inline-block;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 300;
    margin-top: 30px;
}
.main-content {
    background-color: white;
}
section {

}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .banner {
       background-image: url("turtleMobile.png");
       background-size: 100% 100%;
   }

}